* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(129, 127, 127);
}

header {
  display: flex;
  justify-content: center;
  color: white;
}
header img {
  margin: 10px;
}
header h1 {
  padding-top: 8px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
}
.main__container {
  background: rgb(37, 41, 50);
  height: 500px;
  border-radius: 25px;
  margin: 10px;
  -webkit-box-shadow: 2px 3px 22px -3px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 2px 3px 22px -3px rgba(0, 0, 0, 0.73);
}

.calculator-result {
  display: grid;
  grid-row: 50% 50%;
  height: 30%;
  background: rgb(25, 28, 33);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  align-items: center;
}
.previous-operation {
  color: white;
}
.operation {
  color: white;
  font-size: 1.3rem;
}

.buttons-calculator {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: repeat(5, 60px);
  row-gap: 4px;
  background: rgb(37, 41, 50);
  padding: 4px;
}
button {
  font-size: 1.2rem;
}
button:hover {
  background: rgb(51, 55, 66);
}
.n {
  background: rgb(37, 41, 50);
  border-style: none;
  outline: none;
  border-radius: 20px;
  color: white;
}
.b {
  background: rgb(37, 41, 50);
  border-style: none;
  outline: none;
  border-radius: 20px;
  color: green;
}
.f {
  background: rgb(37, 41, 50);
  border-style: none;
  outline: none;
  border-radius: 20px;
  color: red;
  font-size: 1.5rem;
}
.point {
  font-size: 2rem;
  padding-bottom: 15px;
}

footer {
  background: rgb(37, 41, 50);
  display: flex;
  min-width: 320px;
}
.finalFooter {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  margin: 5px 16px 6px 16px;
  align-items: center;
  width: 100%;
}
.designe-rights {
  display: flex;
  align-items: baseline;
  justify-content: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
}
.designe-rights p {
  margin: 0 10px;
}
.designe-rights a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.designe-rights a:hover {
  text-decoration: underline;
}
.linkSocial {
  display: flex;
  justify-content: center;
}
.Social img {
  width: 30px;
  height: 30px;
  margin: 5px 12px;
}
